<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Listado de perosnas
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col class="columnas" *ngFor="let user of users | async " size-xl="2" size-lg="2" size-md="4" size-sm="6" size-xs="12">
        <ion-card>
          <ion-card-content>
          <ion-avatar>
            <img [src]="user.picture.medium">
          </ion-avatar>
          <h1 class="nombre">{{user.name.firt}} {{user.name.last}}</h1>
          <h2 class="info">{{user.location.city}}</h2>
          <h3 class=email >{{user.email}}</h3>
          <p class="texto">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis vitae purus non sapien finibus pharetra vitae id elit. Donec a ex at velit consectetur mattis at sed justo.</p>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
